@font-face {
  font-family: "OneShinhanBold";
  src: url("../assets/OneShinhanBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OneShinhanLight";
  src: url("../assets/OneShinhanLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OneShinhanMedium";
  src: url("../assets/OneShinhanMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.card-container {
  background-color: #ffffff;

  padding: 20px;
  /* border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  text-align: center;
  /* margin-left: 5%;
  margin-right: 5%; */
}

h2 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #333333;
  margin-bottom: 10px;
  margin-top: 10px;
}

.card-list {
  display: flex;
  width: 200px;
  height: 200px;
  overflow-x: auto;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  scroll-snap-type: x mandatory; /* 스크롤을 끝점에서 멈추게 설정 */
}

.membercard {
  flex: 0 0 auto; /* 고정된 크기를 유지하면서 가로로 정렬 */
  text-align: center;
  scroll-snap-align: center; /* 카드가 스크롤 시 중앙에 위치하게 함 */
  /* Remove or override any existing shadow */
  box-shadow: none;
  transform: rotate(90deg); /* 이미지를 90도 회전시킴 */
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Center the wrapper horizontally */
  padding: 20px 0; /* Add padding to avoid overlap */
  width: 100%;
  max-width: 300px; /* Ensure it doesn't get too wide */
  position: relative;
}

.card-image {
  width: 100%;
  max-width: 200px;
  height: auto; /* Ensure it maintains aspect ratio */
}

.background-gradient {
  position: absolute;
  width: 100px;
  height: 300px;
  z-index: 0;
  filter: blur(20px);
}

.background-gradient.left {
  background: linear-gradient(to right, #ff7676, transparent);
  left: -60px;
}

.background-gradient.right {
  background: linear-gradient(to left, #8a4de9, transparent);
  right: -60px;
}

.cardinfo-button-container {
  width: 100%;
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */

  margin-top: 20px;
  gap: 10px;
}
.changecard-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  flex: 1;
  margin: 0 5px;
}

.action-button {
  background-color: #303473;
  color: white;
  border: none;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  font-family: "OneShinhanMedium", sans-serif;
}

.action-button:hover {
  background-color: #555;
}

#address {
  width: 300px;
}

.form-group {
  width: 100%;
}

.top_card_area {
  height: 300px;
}