
@font-face {
    font-family: "OneShinhanBold";
    font-weight: normal;
    src: url("../fonts/OneShinhanBold.ttf") format("truetype");
  }

.container {
    height: auto;
    min-height: 115vh; /*115vh*/
    background-color: #f8f8fdbf;
}

.con2 {
    min-height: 120vh;
}

.card {
    font-family: "OneShinhanBold";
    background-color: white;
    border-radius:5%;
    box-shadow: 5px 5px 5px lightgray;
    padding: auto;
    margin: 5%;
}
.plus {
    background-color: #303473;
    font-family: "OneShinhanBold";
    color: whitesmoke;
    border-radius:20%;
}
.card {
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 20px;
}

.card-header {
    height: fit-content;
    line-height: 24px;
    background-color: #303473;
    border-radius:20px;
    margin: auto;
    width: 70%;
    padding: 2%;
    
}

.savings {
    font-size: 16px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    height: 24px;
    line-height: 24px;
}

.highlight {
    color: skyblue; /* "절약" 부분을 하늘색으로 설정 */
}

.card-content {
    overflow: hidden;
    border-top: 1px solid #f0f0f0;
    padding-top: 10px;
}

.my-expense, .peer-expense {
    width: 50%;
    float: left;
}

.my-expense p, .peer-expense p {
    margin: 5px 0; /* 문단 사이의 여백 최소화 */
}

.my-expense {
    text-align: left;
    padding-left: 10%;
}

.peer-expense {
    text-align: right;
    padding-right: 10%;
}

.amount {
    font-size: 16px;
    font-weight: bold;
    color: #303473;
    margin-top: 5px;
}

.my {
    position: relative;
    display: inline-block;
    z-index: 1; /* 텍스트를 앞으로 보이도록 설정 */
}

.my::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4.5px; /* 밑줄의 두께 */
    background-color: skyblue; /* 밑줄의 색상 */
    z-index: -1; /* 밑줄을 텍스트 뒤로 보내도록 설정 */
    
}

h3 {
    padding-top: 4%;
    text-align: center;
}

.set{
    padding: 0%;
    
}

.p-set{
    font-size: 16px;
}

.total-payment, .title{
    font-family: "OneShinhanBold";
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin: 5%;
}
.center{
    text-align: center;
}
.header {
    font-weight: bold;
    padding: 0px;
}

.amounts {
    font-family: "OneShinhanBold";
    display: flex;
    justify-content: space-between;
}

.amounts div {
    font-size: 18px;
}
/* ************************************************* */
.dropdown {
    font-family: "OneShinhanBold";
    position: relative;
    padding-top: 10%;
    margin: 0 auto;
    text-align: center;
   
}

.dropbtn {
    font-family: "OneShinhanBold";
    background-color: #a7d9db;
    color: #42456d;
    padding: 15px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    width: 50%; 
    text-align: center;
    border-radius: 15px;
}

.dropdown-content {
    display: block;
    position: relative;
    background-color: #F4FEFF;
    width: 60%;
    /* min-width: 280px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15px;
    text-align: center;
    margin: 0 auto;
}

.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 18px;
}

.dropdown-content p:hover {
    background-color: #a7d9db; 
    /* f1f1f1 */
    
}

.select {
    font-family: "OneShinhanBold";
    margin-top: 10%; /* 드롭다운 메뉴와 버튼 사이에 여유 공간을 추가 */
    padding: 15px;
    font-size: 20px;
    background-color: #303473; /* 버튼 배경색 설정 */
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 50%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* ************************************* */
.val-password, .val-username{
    font-size: 20px;
    padding: 8px;
}
/* .col-xl-6 {
    margin: 0 auto;
    text-align: center;
}
label{
    text-align: left;
} */
.form-control {
    font-family: "OneShinhanBold";
}
input[type="password"]{
    width: 95%;
    padding: 8px;
}
input.form-control {
    width: 95%;
}
.text-danger{
    color: red;
}
.form-group mb-3 row{
    font-family: "OneShinhanBold";
    position: relative;
    text-align: center;
    margin: 0 auto;
}
.col-form-label{
    font-family: "OneShinhanBold";
}

.content-discount{
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 50%;
    margin-left: 125px;
}