@font-face {
  font-family: "OneShinhanBold";
  font-weight: normal;
  src: url("../fonts/OneShinhanBold.ttf") format("truetype");
}
.discount-container {
    font-family: "OneShinhanBold";
    max-width: 375px;
    margin: 0 auto;
    padding: 0;
    background-color: #f8f8fdbf;
    min-height: 100vh;
    max-width: 414px;
    padding-bottom: 70px;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
}

.back-button2 {
  background-color: #303473;
  color: white;
  border-radius: 20px;
  margin-left: 2%;
  margin-top: 1%;
  text-align: left;
}

.discount-container::-webkit-scrollbar {
display: none; /* Chrome, Safari, Opera*/
}
.discount-title {
  font-size: 15px;
  font-family: "OneShinhanBold";
  background: #303473;
  color: white;
  border-radius: 15px;
  padding: 5%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 5%;
  margin-bottom: 0%;
  text-align: center;
}
.discount-body{
  margin-top: 20px;
  width: 100%;
  margin: 0 auto;
}
.discount-title span {
  color: skyblue;
}
.discount-box {
color: #333;
padding: 10px 20px 0px 20px;
font-size: 15px;
margin-left:23px;
}
.discount-item {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 5%;
  margin: 5%;
  margin-bottom: 0%;
  height: 120px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.discount-item img {
width: 100px;
height: auto;
border-radius: 8px;
margin-right: 15px;
}
.info {
display: flex;
flex-direction: column;
font-size: 15px;
line-height: 0.1;
}
.storeName, .expiry {
color: #A4A4A4;
}
.productName {
color: #333;
white-space: nowrap; 
text-overflow: ellipsis;
word-break: break-all;
}
.amount {
color: #333;
}
.discount-button {
text-align: center;
padding: 15px 0;
}
.discount-button img{
margin-left:5px;
}
.discount-button button {
font-size: 12px;
padding: 5px 10px;
border: none;
background-color: white;
border-radius: 5px;
cursor: pointer;
font-family: "OneShinhanMedium";
}