@font-face {
    font-family: "OneShinhanBold";
    font-weight: bold;
    src: url("../fonts/OneShinhanBold.ttf") format("truetype");
}

.mymain-container{
    font-family: "OneShinhanBold";
    font-size: 15px;
    width: 414px;
    margin: 0 auto;
    padding: 0;
    background-color: #f2f2f7;
    min-height: 100vh;
    overflow: auto;
    width: 100%;
    max-width: 414px;
}

.memberinfo{
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: white;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px 30px 10px 30px;
    text-align: center;
}

.memberinfo img{
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    border: 4px solid #F0C0D8;
    margin: 0 auto;
    margin-bottom: 5px;
}

.info-name, .info-week, .week-button{
    margin: 0 auto;
    margin-bottom: 5px;
}

.week-button button{
    cursor: pointer;
}

.info-name-big{
    font-size: 20px;
}

.week-button button{
    font-family: "OneShinhanBold";
    font-size: 15px;
    border: 1px solid #D9D9D9;
    background-color: transparent;
    padding: 5px 10px 5px 10px;
}

.tabs{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    margin: 10px;
}

.tabs button{
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    margin: 0 auto;
    color: #ABABAB;
}

.tabs button.active {
    font-family: "OneShinhanBold";
    border: none;
    border-bottom: 2px solid black;
    color: black;
    background-image: url("../assets/tab_active.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.content{
    overflow-y: auto;
    height: 67.5vh;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    background: #f8f8fdbf;
}

.content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}